body{
    background-color:#004d17;
    color:#fff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
    font-display: auto;
}
#container{
    width:1000px;
    margin: 0 auto;
    padding:10px 60px;
    border-left:5px double white;
    border-right:5px double white;
    background-color:#6cca88

}
h1{
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    padding: 15px;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    font-family: georgia;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    border-left: 20px double white;
    padding-left: 18px;
    border-radius: 15px;
    border-bottom:2px solid #ccc;
    width: 130px;
    background-color:#118000;
    font-weight:bold;
}
p{
    line-height: 2em;
    padding: 20px;
    border:2px dotted black;
    background-color:#40b4b4;
    color:#ffffff
}
img{
    width:300px;
    float:left;
    margin-right:1em;
    border: 2px solid white;
    border-radius: 15px;
}
/*PSEUDO SELECTORS*/
a:link{
    color:red;
    text-decoration: none;
    font-weight:bold;
}
a:visited{
    color: rgb(148, 0, 0);
}
a:hover{
    color:rgb(255, 154, 154);
    text-decoration:underline;
}
a:active{
    color:white;
}
#pic1{
    width:350px;
}
#pic2{
    float:right;
    margin-left:10px;
    margin-right: 0;
}
#p2{
    background-color: #349191;
}
.highlight{
    background-color: yellow;
    color: black;
    padding: 2px;
    border-radius: 2px;
    font-weight:bold;

}
.class{
    color:red;
}